body {
    font-family:  'Baloo', cursive;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
  }
.p1{
    text-align: center;
    margin: auto;
    max-width: 900px;
}
.btnform{
    text-align: center;
    margin: auto;
    max-width: 100%;
}
.row2{
    display:flex ;
}
.formq{
    color: rgb(59, 120, 252);
    position: relative;
    left: 3px;
}
.formq1{
    color:#ffa600d8;
}
.h1qf{
    margin-top: 20px;
    color: orange;
    text-align: center;
}
#butaof{
color: white;
background-color: orange;
border: none;
border-radius: 20px;
padding: 10px 20px;
cursor: pointer;
transition: background-color 0.3s ease; 
}

#butaof1{
color: white;
background-color: #029ae6;
border: none;
border-radius: 20px;
padding: 10px 20px;
cursor: pointer;
transition: background-color 0.3s ease; 
}